.control::placeholder {
  text-transform: capitalize;
  --tw-text-opacity: 0.3;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.bars {
  margin: -25px 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  width: 80%;
  height: 6px;
  border-radius: 3px;
  background: none;
}
.bars div {
  height: 6px;
  border-radius: 3px;
  transition: 0.4s;
  width: 100%;
}

.bars.weak div {
  background: #ef0741;
  width: 33.33%;
}
.bars.medium div {
  background: #eb7f1a;
  width: 66.66%;
}
.bars.strong div {
  background: #57c558;
  width: 100%;
}

.strength {
  margin-top: 25px;
  height: 10px;
  text-transform: capitalize;
  color: #e92c7c;
  font-size: 13px;
}
